<div class="form">
  <h2 class="header">Registration Form</h2>

  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <div ngModelGroup="name">
      <div class="form-group">
        <label for="fname">First Name : </label>
        <input
          type="text"
          id="fname"
          placeholder="Your First Name.."
          name="firstname"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="lname">Last Name : </label>
        <input
          type="text"
          id="lname"
          placeholder="Your Last Name.."
          name="lastname"
          ngModel
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email : </label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Your Email.."
        ngModel
        required
        email
      />
    </div>
    <div class="form-group">
      <label for="gender">Gender : </label>

      <input
        type="radio"
        name="gender"
        id="male"
        value="male"
        ngModel
        required
      />
      <label for="male">: Male </label>

      <input
        type="radio"
        name="gender"
        id="female"
        value="female"
        ngModel
        required
      />
      <label for="female">: Female </label>

      <input
        type="radio"
        name="gender"
        id="other"
        value="other"
        ngModel
        required
      />
      <label for="other">: Other </label>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn {{ !myForm.valid ? 'disabled' : '' }}"
        [disabled]="!myForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<div class="form-data">
  <div>
    Name:
    <span
      ><b>{{ name.firstname }} {{ name.lastname }}</b></span
    >
  </div>
  <div>
    Email:
    <span
      ><b>{{ email }}</b></span
    >
  </div>
  <div>
    Gender:
    <span
      ><b>{{ gender | titlecase }}</b></span
    >
  </div>
</div>
